.pricing {
    background-color: var(--color-white);
    color: var(--color-secondary-dark);
    padding: 100px 30px;
    text-align: center;
}

.pricing h2 {
    font-size: var(--fs-xlarge);
    margin-bottom: 20px;
}

.section-description {
    font-size: var(--fs-regular);
    margin-bottom: 40px;
}

.thumb-ezgarage,
.thumb-parkez {
    height: 150px;
}

.thumb-ezgarage {
    display: none;
}

/* ======================= */
.btn-slider {
    position: relative;
    width: 200px;
    /* height: 40px; */
    border: 1px solid var(--color-accent-dark);
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    background-color: var(--color-accent-light);
}

.btn-slider .slider-circle {
    position: absolute;
    left: 0;
    margin: 0;
    width: 80px;
    height: 100%;
    background-color: var(--color-white);
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}

.btn-slider .slider-circle.active {
    width: 120px;
}

.btn-slider .parkez,
.btn-slider .ezgarage {
    padding: 10px 10px;
    font-weight: bold;
    color: var(--color-accent-dark);
    z-index: 1;
}

.btn-slider .ezgarage {
    padding: 10px 15px;
}

.btn-slider .ezgarage {
    text-align: right;
}

.ezgarage-content,
.parkez-content {
    display: none;
}

.parkez-content.active,
.ezgarage-content.active {
    display: block;
}

.pricing .parkez-motor-title {
    width: 100%;
    display: flex;
    align-items: start;
    gap: 15px;
    justify-content: flex-start;
    margin: 40px 0;
}

.pricing .parkez-motor-title>i {
    font-size: 4rem;
    color: var(--color-accent-hover);
}

.pricing .parkez-motor-title>.title {
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--color-accent-dark);
}

.pricing .pricing-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    background-color: var(--color-white);
    color: var(--color-primary-dark);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 320px;
    height: 450px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.card h3 {
    font-size: var(--fs-large);
    height: 10%;
}

.card .card-desc {
    font-size: var(--fs-small);
    height: 15%;
}

.card .discount {
    padding-top: 10px;
    width: 100%;
    height: 10%;
    font-size: var(--fs-small);
    display: flex;
    text-align: center;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.card .discount p:nth-child(1) {
    text-decoration: line-through;
    margin-top: 6px;
}

.card .discount p:nth-child(2) {
    background-color: var(--color-accent-light);
    color: var(--color-white);
    padding: 6px 12px;
    font-weight: var(--fs-medium);
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.card .discount p:nth-child(2):hover {
    background-color: var(--color-accent-hover);
}

.card .price {
    padding-top: 10px;
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
    color: var(--color-accent-light);
    margin: 0 auto;
    margin-bottom: 20px;
}

.card .checkout {
    width: 100%;
    height: 40px;
    /* border-radius: 10px; */
    /* border: 1px solid #1757ce; */
    /* background-color: var(--color-white); */
    text-align: center;
}

.card .checkout>a {
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    width: 80%;
    height: 40px;
    border-radius: 15px;
    color: #0095ff;
    font-weight: var(--fw-bold);
    border: 1px solid var(--color-primary-dark);
    background-color: var(--color-white);
    text-align: center;
    transition: 0.3s ease-in-out;
}

.card .checkout>a:hover,
.card .checkout>a:active {
    background-color: #0095ff;
    color: var(--color-white);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.card .r {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 10px auto;
}

.card ul {
    padding-left: 20px;
}

.card ul li {
    margin-bottom: 10px;
    font-size: 0.8rem;
}

#ezgarage {
    width: 100%;
    height: auto;
}

#ezgarage .parkez-motor-title {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    margin: 40px 0;
}

#ezgarage .pricing-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ezgarage .card {
    background-color: var(--color-white);
    color: var(--color-primary-dark);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 75%;
    height: 300px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

#ezgarage .card .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    .pricing-cards {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
    }

    .card {
        padding: 10px 20px;
        width: 320px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .card .card-desc {
        width: 100%;
        text-align: center;
    }

    .card .checkout>a {
        padding-top: 10px;
    }

    .thumb-parkez,
    .thumb-ezgarage {
        text-align: center;
        height: auto;
        margin-bottom: 20px;
    }

    .btn-slider {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    #ezgarage .card {
        padding: 10px 20px;
        width: 100%;
        height: 300px;
        gap: 25px;
    }

    #ezgarage .card>.right {
        width: 70%;
    }

    #ezgarage .card>.left {
        width: 30%;
    }


}

@media (max-width: 767px) {
    .pricing-cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .card {
        width: 320px;
    }

    #ezgarage .card {
        width: 100%;
        padding: 1rem 1rem;
        gap: 15px;
        flex-direction: column;
        height: auto;

        /* align-items: flex-start; */
        /* justify-content: flex-start; */

    }

    #ezgarage .card>.right {
        width: 100%;
    }

    #ezgarage .card>.left {
        width: 100%;
    }

    #ezgarage .card .checkout>a {
        padding-top: 10px;
        /* height: auto; */

    }
}